<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<!--Static top bar with contact info-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark twi-navbar">
    <a class="navbar-brand" href="/">Twitics</a>
</nav>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2973537596993113",
        enable_page_level_ads: true
    });
</script>

<%if (locals.popErr) {%>
<% include ../global/modals/error.modal.ejs %>
<script type='text/javascript'>$('#error-modal').modal('show');</script>
<% } %>