<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="google" value="notranslate">

    <title><%= title %></title>
    <% include partials/includes.ejs %>
    <% include partials/header.ejs %>
  </head>
  <body>

  </body>
</html>