<!-- Modal -->
<div class="modal fade in" id="error-modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style="color:red;">ERROR</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <p><%= popErr %></p>
                    </div>
                    <button type="submit" class="btn btn-default btn-block" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>